faiss-cpu >= 1.6.3
datasets >= 1.0.1
psutil >= 5.7.0
torch>=2.9.0
ray >= 1.10.0
pytorch-lightning >= 1.5.10, <=1.6.0
transformers
GitPython
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability